[Desktop Entry]
Name=fml9000
Exec=fml9000
Icon=fml9000
Type=Application
Categories=Audio;Music;Player;AudioVideo;
Comment=Music player
StartupWMClass=com.github.fml9000
