* {
  font-size: 13px;
}

.drop-target-hover {
  background-color: alpha(@accent_color, 0.3);
}

.user-playlist {
  font-style: italic;
}

.section-header {
  font-weight: bold;
}

.repeat-active {
  color: @accent_color;
}

.browse-card {
  padding: 4px;
  border-radius: 8px;
}

.browse-card:hover {
  background: alpha(currentColor, 0.05);
}

.browse-source-list {
  background: transparent;
}
