* {
  font-size: 13px;
}

.drop-target-hover {
  background-color: alpha(@accent_color, 0.3);
}

.user-playlist {
  font-style: italic;
}

.playing {
  font-weight: bold;
  color: @accent_color;
}

.repeat-active {
  color: @accent_color;
}
